body {
    margin: 0%;
}

.caja{
    width: 200px;
    height: 200px;
    background-color: rgb(158, 192, 222);
    border: 2px solid black;
}

.Static {
    position: static;
}

.cajasRelativas {
    position: relative;
  }

  #caja1 {
    top: 0px;
    left: 0px;
  }

  #caja2 {
    left: 204px;
    top: -204px;
  }

  #caja3 {
    left: 408px;
    top: -408px;


  }

  #caja4 {
    top: -408px;
    width: 608px;

  }


